<div>
    <a href="{{product.url}}">
      <img class="lazy product" data-id="{{product.id}}" alt="{{product.name}}" srcset=""></img>
    </a>
    <h2>{{product.name}}</h2>
    <p class="price">${{product.price}}</p>
    <button class="add-to-cart" data-id="{{product.id}}">Add to Cart</button>
</div>
