<div>
    <a href="{{product.url}}">
      <img class="lazy product" crossorigin="anonymous" data-id="{{product.id}}" alt="{{product.name}}" srcset=""></img>
    </a>
    <h2>{{product.name}}</h2>
    <p class="price">${{product.price}}</p>
    <form action="/add/{{product.url}}" method="post">
      <button>Add to Cart</button>
    </form>
</div>
