<div>
    <a href="{{product.url}}">
      <img class="lazy product" crossorigin="anonymous" data-id="{{product.id}}" alt="{{product.name}}" srcset=""></img>
    </a>
    <h2>{{product.name}}</h2>
    <p class="price">${{product.price}}</p>
    <form action="/{{product.url}}/cart" method="post">
      <button class="add-to-cart">Add to Cart</button>
    </form>
</div>
