<div>
    <a href="{{product.url}}">
      <img class="lazy product" data-id="{{product.id}}" alt="{{product.name}}" srcset=""></img>
    </a>
    <h2>{{product.name}}</h2>
    <p class="price">${{product.price}}</p>
    <form action="/product/{{product.id}}/cart" method="post">
      <button>Add to Cart</button>
    </form>
</div>
