<div class="card">
  <div class="card-image">
    <a href="/product/{{product.signature}}+{{id}}">
      {{> product_img product=product size="thumb"}}
    </a>
  </div>
  <div class="card-text">
    {{product.description}}
    {{product.category}}
  </div>
  <div class="card-actions">
    <div class="product-price">
      {{product.price}} $
    </div>
    <form action="/product/{{id}}/cart" method="post">
      <button>add to cart</button>
    </form>
  </div>
</div>
