<div class="card">
  <div class="card-image">
    <a href="/product/{{id}};{{product.signature}}">
      {{> product_img product=product}}
    </a>
  </div>
  <div class="card-text">
    {{product.title}}
  </div>
  <div class="card-actions">
    <div class="product-price">
      {{product.price}} $
    </div>
    <form action="/product/{{id}}/cart" method="post">
      <button>add to cart</button>
    </form>
  </div>
</div>
