<div>
  <a href="/{{result.url}}">
    <img alt="{{result.name}}" class="lazy product" crossorigin="anonymous" data-id="{{result.id}}">
  </a>
  <h2>{{result.name}}</h2>
  <p class="price">{{result.price}}</p>
</div>
