<main id="product" data-category="{{product.category}}">
  <img class="lazy" data-id="{{product.id}}" alt="{{product.name}}" srcset="">
  <div>
    <h1>{{product.name}}</h1>
    <div id="price">${{product.price}}</div>
    <div id="description">{{product.description}}</div>
    <div id="features">{{{product.features}}}</div>
    <form action="/{{product.url}}/cart" method="post">
      <button class="add-to-cart">Add to Cart</button>
    </form>
  </div>
</main>
