  <div class="card">
    <div class="card-image">
      {{> product_img product=product}}
    </div>
    <div class="card-text">
      <p>{{product.title}}</p>
      <p>{{product.shortDesc}}</p>
      <p>{{product.category}}</p>
    </div>
    <div class="card-actions">
      <div class="product-price">
        {{product.price}} $
      </div>
      <form action="/product/{{key}}/cart?back=product/{{key}};{{product.signature}}" method="post">
        <button>add to cart</button>
      </form>
    </div>
  </div>
