<main id="product" data-category="{{product.category}}">
  <img class="lazy" data-id="{{product.id}}" alt="{{product.name}}" srcset=""></img>
  <div>
    <h1>{{product.name}}</h1>
    <div id="price">${{product.price}}</div>
    <div id="description">{{product.description}}</div>
    <form action="/add/{{product.url}}" method="post">
      <button>Add to Cart</button>
    </form>
  </div>
</main>
